:host {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  &:not(last-child) {margin-bottom: 20px}

  .name {
    fint-weight: bold;
    font-size: 20px;
    margin-right: 10px;
  }
  .remove {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-left: auto;
    cursor: pointer;
  }

}
