.header {
 height: 100px;
  text-align: center;
  background: #ccc;
  align-items: center;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 50px;
}
.content {
 width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
