:host {
  display: block;
  margin-bottom: 50px;
}
.add-contact {
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 40px;
  text-align: center;
  line-height: 22px;
  padding: 8px 16px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
