<button class="add-contact" *ngIf="!isshowForm" (click)="showForm()">Add new contact</button>
<form action="" *ngIf="isshowForm" [formGroup]="addContactForm">
  <div class="form-body">
    <div class="form-group">
      <label>Name contact</label>
      <input type="text" placeholder="Name contact" formControlName="name">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="phone" placeholder="Phone" formControlName="phone">
    </div>
  </div>
  <div class="form-footer">
    <button type="sumbit" class="submit" (click)="onSubmit">Create contact</button>
  </div>
</form>
